* {
  margin: 0;
  padding: 0;
  box-sizing: boreder-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  text-align: center;
}

.container-small {
  width: 80%;
  margin: auto;
  text-align: left;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.active {
  background-color: #b2e5fc;
  padding: 20px 11px;
}

.pd-tb-35 {
  padding: 35px 0;
}

nav ul {
  margin: 20px 0;
}
nav li {
  display: inline;
  padding-right: 20px;
}

.paste {
  background-image: url("/images/fondo-pag-speciali.jpg");
  background-size: contain;
  background-repeat: repeat;
  padding: 60px 0;
}

.container-small .cards {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}
.container-small .card {
  width: calc((100% / 3) - 20px);
  margin: 5px;
  height: auto;
}
.container-small .card img {
  display: block;
  width: 100%;
}

h2 {
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 400;
  color: #012d73;
}

.font-menu {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  margin: 10px 20px;
}
