* {
  margin: 0;
  padding: 0;
  box-sizing: boreder-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  text-align: center;
  padding: 35px 0;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.active {
  background-color: #b2e5fc;
}

nav ul li {
  display: inline;
  padding-right: 20px;
}

h2 {
  text-transform: uppercase;
}

.menu-font {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  padding: 10px 20px;
}
