* {
   margin: 0;
   padding: 0;
   box-sizing: boreder-box;
}
body {
   font-family: 'Open Sans', sans-serif;
}
.container {
   width: 100%;
   text-align: center;
}
.container-small {
  width: 80%;
  margin: auto;
  text-align: left;
}
a{
   text-decoration: none;;
}
.flex {
   display: flex;
}
.active {
   background-color: $secondaryColor;
   padding: 20px 11px;
}
.pd-tb-35 {
 padding: 35px 0;
}